# Ignore virtual environment
venv/
env/
ENV/

# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class

# Ignore database
*.db
*.sqlite

# Ignore IDE
.vscode/
.idea/
*.swp
*.swo

# Ignore OS
.DS_Store
Thumbs.db

# Ignore environment
.env.local
.env
start.bat
start.sh
terraform_codigo.zip
docker

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars